name: Gerar C贸digo para Discord

on:
  schedule:
    - cron: '0 3 * * *'  # Executa todos os dias s 3h da manh茫 UTC
  workflow_dispatch:  # Permite rodar o workflow manualmente

jobs:
  gerarCodigo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v2

      - name: Instalar depend锚ncias
        run: |
          sudo apt-get install nodejs
          sudo apt-get install npm

      - name: Instalar pacotes necess谩rios
        run: npm install node-fetch

      - name: Rodar o script de gera莽茫o de c贸digo
        run: |
          node -e "
            const fetch = require('node-fetch');
            const codigo = Math.floor(100000 + Math.random() * 900000);
            const mensagem = \` ||@here|| **Novo c贸digo de autentica莽茫o:** ${codigo}\`;
            const webhookUrl = 'https://canary.discord.com/api/webhooks/1357507616544133250/zhbW9dWKGpg6s_epty_EWLJq4bX8mB85vgktHhhmBgUKldBXWcqDED0a77_qY-JeTTbU'; 

            fetch(webhookUrl, {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ content: mensagem })
            })
            .then(response => {
              if (response.ok) {
                console.log('C贸digo enviado com sucesso para o Discord!');
              } else {
                console.error('Erro ao enviar o c贸digo para o Discord.');
              }
            })
            .catch(error => {
              console.error('Erro ao enviar o c贸digo para o Discord:', error);
            });
          "
